.mainContent {
    margin-top: 70px;
    max-height: 30%;
}

.myRow {
    margin-top: 20px;
}

.map {
    height: auto;
    width: 100%;
}

.mapSVG {
    height: auto;
    width: 80%;
}

path{
    stroke:black;
    pointer-events:all;
}

path:hover{
    stroke:#3B5998;;
}

path.Level0 {
    fill: white;
    pointer-events:all;
}
path.Level1 {
    fill: #f7c4bd;
    pointer-events:all;
}
path.Level2 {
    fill: #f4b3ab;
    pointer-events:all;
}
path.Level3 {
    fill: #eb938a;
    pointer-events:all;
}
path.Level4 {
    fill: #dc6b62;
    pointer-events:all;
}
path.Level5 {
    fill: #d04c48;
    pointer-events:all;
}
path.Level6 {
    fill: #dd5424;
    pointer-events:all;
}

.dashboardMeter-header {
    font-size: 20px;
}

.dashboardMeter-unit {
    display: grid;
    padding-top: 10px;
    padding-left: 10px;
    border-top: dashed black;
    border-left: dashed black;
}

.blueUnit {
    color: #3B5998;
}
.greenUnit {
    color: #3B5998;
}
.redUnit {
    color: #d04c48;
}

.dashboardMeter-label {
    font-size: 14px;
    color: black;
}

.dashboardMeter-value {
    font-weight: bolder;
    text-align: right;
}

