.mainContent {
    margin-top: 70px;
    max-height: 30%;
    margin-bottom: 30px;
}

.myRow {
    margin-top: 20px;
}

.map {
    height: auto;
    width: 100%;
}

.mapSVG {
    height: auto;
    width: 90%;
}

path{
    stroke:white;
    pointer-events:all;
    stroke-width: 1px;
}

path.Level0 {
    fill: #f7c4bd;
    pointer-events:all;
}
path.Level1 {
    fill: #f7c4bd;
    pointer-events:all;
}
path.Level2 {
    fill: #f4b3ab;
    pointer-events:all;
}
path.Level3 {
    fill: #eb938a;
    pointer-events:all;
}
path.Level4 {
    fill: #dc6b62;
    pointer-events:all;
}
path.Level5 {
    fill: #d04c48;
    pointer-events:all;
}
path.Level6 {
    fill: #dd5424;
    pointer-events:all;
}

path:hover {
    stroke-width: 2px;
}

.dashboardMeter-header {
    font-size: 20px;
}

.dashboardMeter-unit {
    display: grid;
    padding-top: 10px;
    padding-left: 10px;
    border-top: dashed black;
    border-left: dashed black;
}

.blueUnit {
    color: #3B5998;
}
.greenUnit {
    color: #188038;
}
.redUnit {
    color: #d04c48;
}

.dashboardMeter-label {
    color: black;
}

.dashboardMeter-value {
    font-weight: bolder;
    font-size: 20px;
    text-align: right;
}

.faqButton {
    width: 100%;
    text-align: left;
}

.faqCollapse {
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.footerCol {
    display: grid;
    text-align: left;
}

.myDetails {
    font-size: 12px;
    text-align: center;
    padding: 30px;
}

.footerCell {
    color: black;
    margin-top: 10px;
}

.testingBox {
    display: grid;
    margin: 5px;
    padding: 10px;
    border: dashed black;
}

.testingBox-header {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 0px;
    min-height: 60px;
}

.testingBox-state {
    font-size: 12px;
    text-align: right;
    margin-bottom: 0px;
}

.testingBox-phone {
    color: black;
    font-size: 15px;
    margin-bottom: 0px;
}
.testingBox-website {
    color: black;
    font-size: 14px;
    margin-bottom: 0px;
}
.testingBox-maps {
    color: black;
    font-size: 10px;
    margin-bottom: 0px;
    text-align: right;
}